<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8" />
    <title>History – Poli Mata</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen w-screen overflow-hidden bg-gray-100 flex">

<aside class="w-28 bg-[#54B4C5] flex flex-col items-center">
    <a href="dashboard.html">
        <button class="w-20 h-20 mb-2 mt-4 flex flex-col items-center focus:outline-none focus:ring-2 focus:ring-offset-1 rounded-lg focus:ring-[#0099a8] hover:bg-[#0099a8]">
            <img src="../../../public/icon/dashboard.png" alt="Dashboard" class="w-7 h-7 mb-1 mt-4 filter invert">
            <span class="text-xs font-sans text-white">Dashboard</span>
        </button>
    </a>
    <a href="list_pasien.html">
        <button class="w-20 h-20 mb-2 flex flex-col items-center focus:outline-none focus:ring-2 focus:ring-offset-1 rounded-lg focus:ring-[#0099a8] hover:bg-[#0099a8]">
            <img src="../../../public/icon/lp.png" alt="Pasien" class="w-8 h-8 mb-1 mt-4 filter invert">
            <span class="text-xs font-sans text-white">Pasien</span>
        </button>
    </a>
    <a href="history.html">
        <button class="shadow-md bg-[#0099a8] focus:ring-[#0D98B1] hover:bg-[#007a85] w-20 h-20 mb-2 flex flex-col items-center  focus:outline-none focus:ring-2 focus:ring-offset-1 rounded-lg">
            <img src="../../../public/icon/history.png" alt="History" class="w-6 h-6 mb-1 mt-5 filter invert">
            <span class="text-xs font-sans text-white">History</span>
        </button>
    </a>
    <div class="mb-36"></div>
    <a href="#">
        <button class="w-20 h-20 mb-2 flex flex-col items-center  focus:outline-none focus:ring-2 focus:ring-offset-1 rounded-lg focus:ring-[#0099a8] hover:bg-[#0099a8]">
            <img src="../../../public/icon/acc.png" alt="Akun" class="w-6 h-6 mb-1 mt-5 filter invert">
            <span class="text-xs font-sans text-white">Akun</span>
        </button>
    </a>
    <a href="#">
        <button class="w-20 h-20 mb-4 flex flex-col items-center  focus:outline-none focus:ring-2 focus:ring-offset-1 rounded-lg focus:ring-[#0099a8] hover:bg-[#0099a8]">
            <img src="../../../public/icon/logout.png" alt="Logout" class="w-6 h-6 mb-1 mt-5 filter invert">
            <span class="text-xs font-sans text-white">Logout</span>
        </button>
    </a>
</aside>

    <main class="flex-1 p-8 overflow-auto">
        <div class="flex justify-between items-start">
            <h1 class="text-lg font-bold">PASIEN RAWAT JALAN <span class="font-normal">(POLI MATA)</span></h1>
            <img src="../../../public/icon/simrs.png" class="w-20 h-20 -mt-6"/>
        </div>

        <div class="mt-4 flex">
            <input type="text" placeholder="Masukkan nama pasien/no reg" class="border border-gray-400 rounded-l px-4 py-2 text-sm w-80" />
            <button class="bg-[#0099a8] px-4 py-[9px] text-white rounded-r">
              <img src="../../../public/icon/Search.png" class="w-4 h-4"/>
            </button>
        </div>

        <div class="mt-8 space-y-6 text-sm">
            <div>
                <h2 class="font-semibold mb-2">Hari ini</h2>
                <table class="w-full border border-gray-300">
                    <thead class="bg-[#c9d6ec] text-gray-700">
                        <tr>
                            <th class="px-4 py-2 text-left">No Reg</th>
                            <th class="px-4 py-2 text-left">Antrian</th>
                            <th class="px-4 py-2 text-left">Nama</th>
                            <th class="px-4 py-2 text-left">Status</th>
                            <th class="px-4 py-2 text-left">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-gray-50">
                             <td class="px-4 py-2">457459</td>
                             <td class="px-4 py-2">0001</td>
                             <td class="px-4 py-2">Noor Putri</td>
                             <td class="px-4 py-2"><span class=" text-green-500 font-bold">Selesai Diperiksa</span></td>
                             <td class="px-4 py-2">
                               <button class="w-7 h-6 rounded-sm hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-[#c9d6ec] focus:ring-offset-1">
                               <img src="../../../public/icon/aksi.png" alt="" class="w-4 h-4 ml-2">
                               </button>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h2 class="font-semibold mb-2">Jum'at, 09 - 05 - 2025</h2>
                <table class="w-full border border-gray-300">
                    <thead class="bg-[#c9d6ec] text-gray-700">
                        <tr>
                            <th class="px-4 py-2 text-left">No Reg</th>
                            <th class="px-4 py-2 text-left">Antrian</th>
                            <th class="px-4 py-2 text-left">Nama</th>
                            <th class="px-4 py-2 text-left">Status</th>
                            <th class="px-4 py-2 text-left">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hover:bg-gray-50">
                             <td class="px-4 py-2">457459</td>
                             <td class="px-4 py-2">0001</td>
                             <td class="px-4 py-2">Noor Putri</td>
                             <td class="px-4 py-2"><span class="text-cyan-500 font-bold">Selesai Diperiksa</span></td>
                             <td class="px-4 py-2">
                               <button class="w-7 h-6 rounded-sm hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-[#c9d6ec] focus:ring-offset-1">
                               <img src="../../../public/icon/aksi.png" alt="" class="w-4 h-4 ml-2">
                               </button>
                             </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-4 flex justify-end items-center space-x-1 text-xs">
            <button class="border px-2 py-1 text-gray-500 rounded bg-gray-100 cursor-not-allowed">Previous</button>
            <button class="border px-2 py-1">1</button>
            <button class="border px-2 py-1 bg-[#c9d6ec]">2</button>
            <button class="border px-2 py-1">Next</button>
        </div>
    </main>

</body>
</html>